.nav-link {
  font-size: 14px;
  color: #000000;
  font-family: "Barlow", sans-serif;
}

.c-header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 20;
  border-bottom: 1px solid #dedede;
}

main {
  margin-top: 75px;
}
