<div>
  <h4 class="mb-4 text-center">
    {{pageTitle | uppercase}}
    <span> to Angular Workshop</span>
  </h4>
  <div class="container">
    <div class="row align-items-sm-center">
      <div class="col-sm-4">
        <a class="c-nav-item" routerLink="/looping">
          <h3>Looping/Conditional</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="c-nav-item" routerLink="/looping">
          <h3>Directives/Event binding</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="c-nav-item" routerLink="/binding">
          <h3>Binding ( ngModel )</h3>
        </a>
      </div>
      <div class="col-sm-4">
        <a class="c-nav-item" routerLink="/http">
          <h3>http ( HttpClient )</h3>
        </a>
      </div>
    </div>
  </div>
</div>