<div>
  <h4>
    {{pageTitle | uppercase}}
    <span> to Angular World</span>
  </h4>
  <ol class="p-2">
    <li>
      <h6>Basic app</h6>
      <hr>
      <p>Environment setup,Angular CLI commands</p>
      <p>Angular routing</p>
      <p>Angular NgModules / Directives</p>

      <h6>Key Note</h6>
      <ul>
        <li>
          <p>Visual Studio - Editor</p>
        </li>
        <li>
          <pre> npm install -g @angular/cli</pre>
        </li>
        <li>
          <pre> ng new my-angular</pre>
        </li>
        <li>
          <pre> cd my-angular </pre>
        </li>
        <li>
          <pre> ng serve </pre>
        </li>
      </ul>
      <h6>TypeScript</h6>
      <ul>
        <li>
          <pre>npm install -g typescript</pre>
        </li>
        <li>
          <pre>tsc my-typescript.ts</pre>
        </li>
      </ul>
    </li>
    <li>
      <h6>Angular routing</h6>
      <hr>
      <ul>
        <li>
          <pre>routerLink</pre>
        </li>
      </ul>
    </li>

    <li>
      <h6>Angular NgModules / Directives</h6>
      <hr>
      <ul>
        <li>
          <pre> *ngIf</pre>
        </li>
        <li>
          <pre>*ngFor </pre>
        </li>
        <li>
          <pre>Decorator</pre>
        </li>
      </ul>
    </li>
    <li>
      <h6>Angular Event Binding - Types</h6>
      <hr>
      <ul>
        <li>
          <pre>- Type1
              Interpolation               <!-- - {{...}} -->
              Property               <!-- - [src]="heroImageUrl" -->
              Attribute               <!-- -  [attr.aria-label]="help" -->
              Class
              Style
            </pre>
          <pre><!-- {{expression}} -->[target]="expression" bind-target="expression"</pre>
          <p>One-way
            from data source
            to view target</p>
        </li>
        <li>
          <pre>- Type2 Event</pre>
          <pre>(target)="statement",on-target="statement"</pre>
          <p>One-way
            from view target
            to data source</p>
        </li>
        <li>
          <pre>- Type3 Two-way</pre>
          <pre>[(target)]="expression",bindon-target="expression"</pre>
          <p>two way</p>
        </li>
      </ul>
    </li>
  </ol>
</div>